@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	padding: 0;
	margin: 0;
	/*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
	/*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
	font-family: "JetBrains Mono", Roboto;
}

a {
	color: inherit;
	text-decoration: none;
	padding: 0;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	
	body {
		color: white;
		
		@apply bg-gray-900 p-0;
	}
	
}
